/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Roboto:wght@400;500&display=swap');

:root {
  --primary-green: #2ECC71;
  --dark-text: #34495E;
  --subtle-grey: #BDC3C7;
  --background-color: #F4F6F6;
  --white: #FFFFFF;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--dark-text);

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}